// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hero{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/src/assets/hands-with-coins.png');
    background-position: center;
    background-size: cover;
    text-align: center;

    &__title{
        font-size: 2.18rem;
        color: $white;
        font-weight: 700;
        text-transform: capitalize;

        @include desktop{
            font-size: 4.375rem;
        }
    }
    &__tagline{
        font-size: 0.93rem;
        color: $white;
        font-weight: 700;
        text-transform: capitalize;
    }

}
